.navbar-brand img {
  min-height: 55px;
  padding: 0 15px 10px;
  height: 100px;
}
.img {
  height: 10 0px;
  width: 100px;
}
.container-fluid {
  padding: 0;
}
.envelope{
align: right;
}
.navbar-nav li a:hover {
  color: white;
}
.blah {
  vertical-align: middle;
}
.social {
  text-align: center;
  vertical-align: middle;
}
